---
---
<section class="hero" aria-label="flatline underground">
  <div class="hero__inner">
    <h1 class="hero__title">
      <span>Flatline</span>
      <span>Underground</span>
    </h1>
    <div class="hero__sub">
      <div>forging cybernetic monsters from the sludge of postmodernity</div>
    </div>
  </div>
</section>
